:root {
    --main-blue: rgb(31 109 155);
}

body {
    background: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;

    cursor: default;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

button {
    all: unset;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 5px 10px;
    border: 1px solid var(--main-blue);

    cursor: pointer;
}

.sample-data {
    margin: 10px;

    font-size: 1.3rem;
    width: 300px;
    min-width: 300px;
    min-height: 50px;
}

.chart-holder {
    min-width: 100%;
    width: fit-content;
    padding: 40px;
    margin-top: 40px;

    max-height: 300px;

    display: flex;
    justify-content: center;
}

.chart {
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: fit-content;

    gap: 5px;
    padding: 0 10px;
    border-bottom: 1px rgb(37, 37, 37) solid;
    border-left: 1px solid black;
}

.chart-value {
    position: relative;

    background-color: var(--main-blue);
    width: 30px;
    height: var(--height-set);

    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    color: white;
    justify-content: center;

    animation: chart-value-animation forwards 1.4s;
    transition: background-color 0.14s ease-in;

    text-decoration: none;
    cursor: pointer;
    
}

.chart-value:hover {
    background-color: rgb(65, 122, 187);
}

@keyframes chart-value-animation {
    0% {
        height: 0;
    }
    
    50% {
        height: 150px;
    }

    100% {
        height: var(--height-set);
    }
}

.numbers {
    width: 30px;
    height: 330px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;

    transform: translateY(-10px);
}

.percent {
    position: absolute;
    top: -20px;
    font-size: 0.9rem;
    color: rgb(65, 65, 65);
}

.max-percent {
    color: rgb(172, 41, 51);
}

.av {
    position: absolute;
    bottom: -20px;
    font-size: smaller;
    color: rgb(65, 65, 65);
}

.underline {
    text-decoration: underline;
}


.data-group {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 5px;

    margin-top: 100px;
}

.group {
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    
    padding: 10px;

    max-width: 400px;

    border: 1px solid var(--main-blue);
}

.group-title {
    position: relative;
    margin: 10px;
    margin-top: 7px;

    color: white;
}

.cursor-holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cursor {
    width: fit-content;
    padding: 5px 10px;

    background-color: rgb(65, 65, 65);
    border: 1px solid var(--main-blue);
    color: white;
}

.hover-text:hover::after {
    content: var(--hover-value);
    background-color: rgb(36, 36, 36);
    padding: 5px 10px;
    color: white;

    position: absolute;
}

.av:hover::after {
    bottom: -30px;
    left: 50%;

    transform: translateX(-50%);
}

.group-title:hover::after {
    left: 50px;
    top: 50%;

    transform: translateY(-50%);
}



.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    position: fixed;
    bottom: 10px;
    right: 10px;

    background-color: rgb(27, 27, 27);
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50vh;

    border: 1px solid var(--main-blue);

    text-decoration: none;
    cursor: pointer;
}